<!DOCTYPE html>
<html>
<script>
    function upload() {
        document.getElementsByName("service").forEach(function(element) {
            element.toggleAttribute("disabled");
        });
    }
</script>
<style>
    
    td {
        border: 1px solid rgb(190,190,190);
        padding: 1px 2px;
        text-align: center;
        width: 25px;
        height: 50px;
    }
  
</style>
<body>

<h2 style="display: inline; position: relative; left: 88%;"> User: {{ EMPLOYEE_NAME }}</h2>
<div style="position: relative; left: 90%;"><button>Log In</button></div>
<div style="position: relative; left: 85%;"><button>Add comment to LogFile</button></div>
<main>
    <h2 style="display: inline; position: relative; left: 40%;">Please upload new manifest:</h2>
    <div style="text-align: center;"><button onclick="upload()">Upload Manifest</button></div>

    <h3 style="position: relative; left: 43%;">Please select type of service:</h3>
    <div style="display: inline; position: relative; left:49%;"><form action="{{ url_for('home_page') }}" method="GET"><button name="service" disabled="true">Balance</button></form></div>
    <div style="display: inline; position: relative; left:48%;"><form action="{{ url_for('home_page') }}" method="GET"><button name="service" disabled="true">Load/Unload</button></form></div>
</main>

</body>
</html>
