<<!DOCTYPE html>
<html>

<head>
    <title>Team AIAboard</title>
    <h1 style="text-align: center;">{{MANIFEST_NAME}}</h1>
    <h2 style="display: inline; position: relative; text-align: left; width: 100%;">Load/Unload</h2>
    <h2 style="display: inline; position: relative; left: 70%;">User: {{EMPLOYEE_NAME}}</h2>
    <div style="position: relative; left: 90%;"><button>Log In</button></div>
    <div style="position: relative; left: 85%;"><button>Add comment to LogFile</button></div>
</head>

<body>
    {% block body %}
    {% endblock %}
</body>
</html>

