<!DOCTYPE html>
<html>
<style>
    
    table {
        border-collapse: collapse;
        border: 2px solid rgb(200,200,200);
        letter-spacing: 1px;
        font-size: 0.8rem;
    }
    
    td {
        border: 1px solid rgb(190,190,190);
        padding: 1px 2px;
        text-align: center;
        width: 25px;
        height: 50px;
    }
  
</style>
<body>

<h1 style="text-align: center;">MANIFEST NAME</h1>
<h2 style="display: inline; position: relative; text-align: left; width: 100%;">Load/Unload</h2>
<h2 style="display: inline; position: relative; left: 70%;">EMPLOYEE NAME</h2>
<div style="position: relative; left: 90%;"><button>Log In</button></div>
<div style="position: relative; left: 85%;"><button>Add comment to LogFile</button></div>
<main>
    <div>
        Please select containers requested for unloading:
    </div>
    <form action="{{ url_for('test1') }}" method="post">

    <span id = "buffer" style="position: relative; top: 230px;">
        <table>
            <tr>
                <td name="4.1" title="4.1">4.1</td>
                <td name="4.2">4.2</td>
                <td name="4.3">4.3</td>
                <td name="4.4">4.4</td>
                <td name="4.5">4.5</td>
                <td name="4.6">4.6</td>
                <td name="4.7">4.7</td>
                <td name="4.8">4.8</td>
                <td name="4.9">4.9</td>
                <td name="4.10">4.10</td>
                <td name="4.11">4.11</td>
                <td name="4.12">4.12</td>
                <td name="4.13">4.13</td>
                <td name="4.14">4.14</td>
                <td name="4.15">4.15</td>
                <td name="4.16">4.16</td>
                <td name="4.17">4.17</td>
                <td name="4.18">4.18</td>
                <td name="4.19">4.19</td>
                <td name="4.20">4.20</td>
                <td name="4.21">4.21</td>
                <td name="4.22">4.22</td>
                <td name="4.23">4.23</td>
                <td name="4.24">4.24</td>
            </tr>
            <tr>
                <td name="3.1">3.1</td>
                <td name="3.2">3.2</td>
                <td name="3.3">3.3</td>
                <td name="3.4">3.4</td>
                <td name="3.5">3.5</td>
                <td name="3.6">3.6</td>
                <td name="3.7">3.7</td>
                <td name="3.8">3.8</td>
                <td name="3.9">3.9</td>
                <td name="3.10">3.10</td>
                <td name="3.11">3.11</td>
                <td name="3.12">3.12</td>
                <td name="3.13">3.13</td>
                <td name="3.14">3.14</td>
                <td name="3.15">3.15</td>
                <td name="3.16">3.16</td>
                <td name="3.17">3.17</td>
                <td name="3.18">3.18</td>
                <td name="3.19">3.19</td>
                <td name="3.20">3.20</td>
                <td name="3.21">3.21</td>
                <td name="3.22">3.22</td>
                <td name="3.23">3.23</td>
                <td name="3.24">3.24</td>
            </tr>
            <tr>
                <td name="2.1">2.1</td>
                <td name="2.2">2.2</td>
                <td name="2.3">2.3</td>
                <td name="2.4">2.4</td>
                <td name="2.5">2.5</td>
                <td name="2.6">2.6</td>
                <td name="2.7">2.7</td>
                <td name="2.8">2.8</td>
                <td name="2.9">2.9</td>
                <td name="2.10">2.10</td>
                <td name="2.11">2.11</td>
                <td name="2.12">2.12</td>
                <td name="2.13">2.13</td>
                <td name="2.14">2.14</td>
                <td name="2.15">2.15</td>
                <td name="2.16">2.16</td>
                <td name="2.17">2.17</td>
                <td name="2.18">2.18</td>
                <td name="2.19">2.19</td>
                <td name="2.20">2.20</td>
                <td name="2.21">2.21</td>
                <td name="2.22">2.22</td>
                <td name="2.23">2.23</td>
                <td name="2.24">2.24</td>
            </tr>
            <tr>
                <td name="1.1">1.1</td>
                <td name="1.2">1.2</td>
                <td name="1.3">1.3</td>
                <td name="1.4">1.4</td>
                <td name="1.5">1.5</td>
                <td name="1.6">1.6</td>
                <td name="1.7">1.7</td>
                <td name="1.8">1.8</td>
                <td name="1.9">1.9</td>
                <td name="1.10">1.10</td>
                <td name="1.11">1.11</td>
                <td name="1.12">1.12</td>
                <td name="1.13">1.13</td>
                <td name="1.14">1.14</td>
                <td name="1.15">1.15</td>
                <td name="1.16">1.16</td>
                <td name="1.17">1.17</td>
                <td name="1.18">1.18</td>
                <td name="1.19">1.19</td>
                <td name="1.20">1.20</td>
                <td name="1.21">1.21</td>
                <td name="1.22">1.22</td>
                <td name="1.23">1.23</td>
                <td name="1.24">1.24</td>
            </tr>
            
        </table>
    </span>
    <span name="ship" style="position: relative; top: -200px; left: 900px;">
        <table>
            <tr>
                <td name="8.1">8.1</td>
                <td name="8.2">8.2</td>
                <td name="8.3">8.3</td>
                <td name="8.4">8.4</td>
                <td name="8.5">8.5</td>
                <td name="8.6">8.6</td>
                <td name="8.7">8.7</td>
                <td name="8.8">8.8</td>
                <td name="8.9">8.9</td>
                <td name="8.10">8.10</td>
                <td name="8.11">8.11</td>
                <td name="8.12">8.12</td>
            </tr>
            <tr>
                <td name="7.1">7.1</td>
                <td name="7.2">7.2</td>
                <td name="7.3">7.3</td>
                <td name="7.4">7.4</td>
                <td name="7.5">7.5</td>
                <td name="7.6">7.6</td>
                <td name="7.7">7.7</td>
                <td name="7.8">7.8</td>
                <td name="7.9">7.9</td>
                <td name="7.10">7.10</td>
                <td name="7.11">7.11</td>
                <td name="7.12">7.12</td>
            </tr>
            <tr>
                <td name="6.1">6.1</td>
                <td name="6.2">6.2</td>
                <td name="6.3">6.3</td>
                <td name="6.4">6.4</td>
                <td name="6.5">6.5</td>
                <td name="6.6">6.6</td>
                <td name="6.7">6.7</td>
                <td name="6.8">6.8</td>
                <td name="6.9">6.9</td>
                <td name="6.10">6.10</td>
                <td name="6.11">6.11</td>
                <td name="6.12">6.12</td>
            </tr>
            <tr>
                <td name="5.1">5.1</td>
                <td name="5.2">5.2</td>
                <td name="5.3">5.3</td>
                <td name="5.4">5.4</td>
                <td name="5.5">5.5</td>
                <td name="5.6">5.6</td>
                <td name="5.7">5.7</td>
                <td name="5.8">5.8</td>
                <td name="5.9">5.9</td>
                <td name="5.10">5.10</td>
                <td name="5.11">5.11</td>
                <td name="5.12">5.12</td>
            </tr>
            <tr>
                <td name="4.1">4.1</td>
                <td name="4.2">4.2</td>
                <td name="4.3">4.3</td>
                <td name="4.4">4.4</td>
                <td name="4.5">4.5</td>
                <td name="4.6">4.6</td>
                <td name="4.7">4.7</td>
                <td name="4.8">4.8</td>
                <td name="4.9">4.9</td>
                <td name="4.10">4.10</td>
                <td name="4.11">4.11</td>
                <td name="4.12">4.12</td>
            </tr>
            <tr>
                <td name="3.1">3.1</td>
                <td name="3.2">3.2</td>
                <td name="3.3">3.3</td>
                <td name="3.4">3.4</td>
                <td name="3.5">3.5</td>
                <td name="3.6">3.6</td>
                <td name="3.7">3.7</td>
                <td name="3.8">3.8</td>
                <td name="3.9">3.9</td>
                <td name="3.10">3.10</td>
                <td name="3.11">3.11</td>
                <td name="3.12">3.12</td>
            </tr>
            <tr>
                <td name="2.1">2.1</td>
                <td name="2.2">2.2</td>
                <td name="2.3">2.3</td>
                <td name="2.4">2.4</td>
                <td name="2.5">2.5</td>
                <td name="2.6">2.6</td>
                <td name="2.7">2.7</td>
                <td name="2.8">2.8</td>
                <td name="2.9">2.9</td>
                <td name="2.10">2.10</td>
                <td name="2.11">2.11</td>
                <td name="2.12">2.12</td>
            </tr>
            <tr>
                <td name="1.1">1.1</td>
                <td name="1.2">1.2</td>
                <td name="1.3">1.3</td>
                <td name="1.4">1.4</td>
                <td name="1.5">1.5</td>
                <td name="1.6">1.6</td>
                <td name="1.7">1.7</td>
                <td name="1.8">1.8</td>
                <td name="1.9">1.9</td>
                <td name="1.10">1.10</td>
                <td name="1.11">1.11</td>
                <td name="1.12">1.12</td>
            </tr>
        </table>
    </span>
    </form>
    <span style="position: relative; top: -175px;"><button>Back To Home</button></span>
    <span style="display: inline; position: relative; text-align: center; right: -400px; top: -175px;">Estimated time to completion: <span name="estimatedTime">{{time}}</span></span>
    <span style="position: relative; right: -800px; top: -175px;"><button>Next</button></span>
</main>

</body>
</html>